*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background: linear-gradient(135deg, #f4f4f4, #dfefff);
}

main {

    flex: 1;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

header {

    background-color: #222;
    color: white;
    /* ta aqui seu flexbox Ronan */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer {

    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {

    display: flex;
    gap: 20px;
}

nav a {

    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {

    color: #00bfff;
}

.sobre {

    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.sobre img {

    width: 180px;
    border-radius: 10px;
    cursor: pointer;
}

.projetos {

    padding: 40px;

}

.cards {

    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {

    background-color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 250px;
    flex: 1 1 100%;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

.card a {

    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #00bfff;
    font-weight: bold;

}

.card:hover {

    transform: translateY(-5px);
}

.conteiner {

    width: 100%;
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 768px) {

    header {

        flex-direction: column;
        gap: 15px;
    }    

    .sobre {

        flex-direction: column;
        text-align: center;
    }

    .sobre img {

        width: 150px;

    }

    .hero {

        flex-direction: column-reverse;
        text-align: center;

    }
}

html {

    scroll-behavior: smooth;
}

section {

    padding: 80px 20px;
}

section h2 {

    font-size: 2rem;
    margin-bottom: 20px;
}

form {

    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
}

input, textarea {

    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

button {

    background-color: #222;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {

    background-color: #00bfff;
}

button a {

    color: white;
    text-decoration: none;
}

.hero {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 100px 20px;
    max-width: 1200px;
    margin: auto;

}

.hero-texto h2 {

    font-size: 3rem;
    margin-bottom: 20px;

}

.hero-texto p {

    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero img {

    width: 170px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: 0.4s;
    cursor: pointer;

}

.hero img:hover {

    transform: scale(1.03);

} 

.btn {

    display: inline-block;
    background-color: #00bfff;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;

}

.btn:hover {

    transform: translateY(-3px);

}

.skills {

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;

}

.skill1 {

    background-color: white;
    padding: 10px 20px;
    border-radius: 999px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
    color: black;
    cursor: pointer;

}

.skill1:hover {

    transform: translateY(-3px);
    background-color: hsl(32, 100%, 50%);
    color: white;

}

.skill2{

    background-color: white;
    padding: 10px 20px;
    border-radius: 999px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
    color: black;
    cursor: pointer;

}

.skill2:hover {

    transform: translateY(-3px);
    background-color: #00bfff;
    color: white;

}

.skill3 {

    background-color: white;
    padding: 10px 20px;
    border-radius: 999px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
    color: black;
    cursor: pointer;

}

.skill3:hover {

    transform: translateY(-3px);
    background-color: #aa894c;
    color: white;

}

.skill4 {

    background-color: white;
    padding: 10px 20px;
    border-radius: 999px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
    color: black;
    cursor: pointer;

}

.skill4:hover {

    transform: translateY(-3px);
    background-color: #fffb00;
    color: rgb(194, 144, 5);

}

.skill5 {

    background-color: white;
    padding: 10px 20px;
    border-radius: 999px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
    color: black;
    cursor: pointer;

}

.skill5:hover {

    transform: translateY(-3px);
    background-color: #ff0037;
    color: white;

}

.redes {

    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

